/* .jumbotron {
    background-color: #172A40;
    margin: auto;
} */

.contact {
    font-size: 15px;
    color: #FFF7DC;
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    /* padding: 0 20px; */
    /* letter-spacing: -3px; */
}
